.container{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
  height: 200px;
  margin-top: 20px;
}
.item{
  width: 40em;
  margin-left: 0px;
  margin-bottom: 16px;
  >span:first-child {
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    width:6em;
    &:after{
      content: ':';
    }
  }
}
.input {
  display: inline-block;
  width: 50%;
}